@font-face {
  font-family: 'Iosevka';
  src: local('Iosevka'),
    url('/fonts/iosevka-regular.woff2') format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Iosevka';
  src: local('Iosevka'),
    url('/fonts/iosevka-bold.woff2') format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Iosevka';
  src: local('Iosevka'),
    url('/fonts/iosevka-oblique.woff2') format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

/* Font fallback stack */
body, #root {
  font-family: Iosevka, 'Courier New', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}
