html {
  overflow-y: scroll
}
:root {
  --bgcolor: #000000;
  --dimcolor: #333;
  --fontcolor: #ddd;
  --linkcolor: #ff00ff;
  --visitedcolor: #ff00ff;
  --precolor: #fff;
  --prebgcolor: #383838;
}

body {
  color: var(--fontcolor);
  background: var(--bgcolor);
  margin: 0;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:link {
  color: var(--linkcolor);
}
a:visited {
  color: var(--visitedcolor);
}
a:active {
  color: var(--visitedcolor);
}
h1,h2,h3 {
  line-height: 1.2;
}

p > code {
  color: var(--precolor);
  background: var(--prebgcolor);
  padding: 2px;
}

pre {
  color: var(--precolor);
  background: var(--prebgcolor);
  padding: 24px;
  overflow-x: auto;
}

article {
  padding: 5px 0;
}

.center  {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
figcaption {
  color: #888;
  font: 12px/1.5 monospace;
  text-align: center;
}
figure {
  margin: auto;
}

a {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

code{
  word-wrap: break-word;
  overflow-wrap: break-word; 
}

/* other */

/* Make sure headings are positioned relative */
h1, h2, h3, h4, h5, h6 {
  position: relative;
}

.header-anchor {
  position: absolute;
  left: -1.5rem;  /* Adjust this value as needed */
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;   /* Hidden by default */
  transition: opacity 0.3s ease-in-out;
  text-decoration: none;
}


h1:hover .header-anchor,
h2:hover .header-anchor,
h3:hover .header-anchor,
h4:hover .header-anchor,
h5:hover .header-anchor,
h6:hover .header-anchor {
  opacity: 1;
}

/* Optional keyframes animation for a one-time effect */
.animated-anchor {
  animation: fadeSlideIn 0.5s ease-out forwards;
}

@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateY(-50%) translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(-50%) translateX(0);
  }
}

.full-clickable-heading {
  display: block;
  position: relative;
  text-decoration: none;
  color: inherit;
}

/* Show the hash when hovering over the heading */
.full-clickable-heading:hover::before {
  opacity: 1;
}
